{{ partial "head.html" . }}

<main class="article">
	<article>
		<nav>
			<div class="prev">
				{{ with .Prev }}
				<span class="button">◄</span>
				<a href="{{.Permalink}}" class="name">{{.Title}}</a>
				{{ end }}
			</div>
			<div class="next">
				{{ with .Next }}
				<a href="{{.Permalink}}" class="name">{{.Title}}</a>
				<span class="button">▶</span>
				{{ end }}
			</div>
		</nav>
		<header>
			<h1>{{.Title}}</h1>
			<p>Last Modified {{.Lastmod.Format "January _2, 2006 at 15:04 PM"}}</p>
		</header>
		<p>{{.Content}}</p>
	</article>
</main>

{{ partial "foot.html" . }}
