:root {
	--0: #FCFAF8;
	--1: #F4F2F0;
	--2: #D7D2CE;
	--3: #D3C0B2;
	--4: #A99282;
	--5: #857B74;
	--6: #4D4743;

	--fg: #141312;
	--shadow: 0px 0px 10px -2px rgba(0,0,0,0.20);
}

@font-face {
	font-family: "Open Serif";
	src: url("OpenSerif-Book.ttf");
}

::-webkit-scrollbar-thumb {
    border: 12px solid transparent;
    /* border-radius: 9999px; */
    background: var(--5);
    transition: all 1s cubic-bezier(0, 0, 0.2, 1);
}

::-webkit-scrollbar {
    width: 12px;
    position: fixed;
    transition: width 1s cubic-bezier(0, 0, 0.2, 1);
}

::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-track {
    background: var(--3);
    border: none;
}

* {
    box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: row;
	min-height: 100vh;

	margin: 0;
	font-family: "Open Serif", "Times New Roman", serif;

	background-color: var(--1);
	color: var(--fg);
}

body p {
	line-height: 1.5em;
	margin: 0.75em 0;
	white-space: pre-line;
}

body a, main.page article > header > h2 {
	color: var(--6);
	text-decoration: none;
}

body h1 {
	font-size: 3em;
}

body h1, body h2 {
	margin: 0;
	margin-top: 20px;
	margin-bottom: 5px;
}

aside.sidebar {
	width: 100%;
	max-width: 300px;

	background-color: var(--3);
	box-shadow: var(--shadow);
}

aside.sidebar > .author {
	padding: 25px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

aside.sidebar .author > a h2 {
	color: var(--fg);
}

aside.sidebar h2 {
	text-align: center;
}

aside.sidebar img.avatar {
	width:  100%;
	height: 100%;
	border-radius: 9999px;

	max-width: 250px;

	box-shadow: var(--shadow);
}

aside.sidebar .treenav {
	padding-right: 25px;
}
aside.sidebar .treenav a {
	color: var(--6);
}
aside.sidebar .treenav a.section {
	font-weight: 700;
}
aside.sidebar .treenav ul, aside.sidebar .treenav h3 {
	/* list-style: none; */
	padding-left: 25px;
	padding-top: 5px;
	margin-top: 0;
	margin-bottom: 7px;
	/* padding-bottom: 5px; */
}
aside.sidebar .treenav li {
	list-style: none;
	padding-bottom: 5px;
}

/* Paginator */
.paginator {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.paginator > * {
	width:  35px;
	height: 35px;

	display: flex;
    justify-content: center;
    align-items: center;

	line-height: 0;

	margin: 20px 4px;
	margin-bottom: 5px;

	background-color: var(--3);	
	border-radius: 9999px;
}
.paginator > .active {
	background-color: var(--4);
	font-weight: 800;
}

main {
	flex: 1;

	background-image: url("bg.jpg");
	background-attachment: fixed;
    background-size: cover;

	display: flex;
	flex-direction: column;
	align-items: center;
}

main > * {
	width: 100%;
	max-width: 800px;
}

main > header h1 {
	font-size: 3em;

	/* min-width: 500px; */
	padding: 35px 35px;
	margin: 0;

	background-color: rgba(211, 192, 178, 0.65);
}

main header p {
	color: var(--5);
}

main > div.articles {
	background-color: var(--2);
	box-shadow: var(--shadow);

	padding: 20px;
	margin-bottom: 40px;
}

main.page {
	flex-direction: column;
	align-items: center;
}
main.page > header {
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 50vh;
	/* margin: 15px; */
}
main.pag6 article > header {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    margin: 1em 0;
	margin-bottom: 0.35em;
}
main.page article > header > p {
	color: var(--5);
}
main.page article > header > * {
	margin: 0;
	margin-right: 8px;
}

main article {
    padding: 20px;
    padding-bottom: 10px;
}

main article:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

main.article > article {
	margin-top: 35px;
	padding: 35px;
	background-color: var(--2);
	box-shadow: var(--shadow);
}
main.article > article > nav {
    display: flex;
    align-items: baseline;
}
main.article > article > nav > * {
    flex: 1;
}
main.article > article > nav > *:last-child {
	text-align: right;
}

/* Mobile view */
@media only screen and (max-width: 768px) {
	body {
		flex-direction: column;
	}
	aside.sidebar {
		max-width: 100%;
	}
	main.page > header {
		height: 100%;
	}
	main > header h1 {
		width: 100%;
	}
	main.article > article, main > div.articles {
		margin: 0;
	}
}

/* Markdown */
article p, article li, article span, article code {
	line-height: 1.5em;
}
article hr {
    height: 1px;
    width: 90%;
    border: none;
    background: var(--5);
    margin-block-end: 30px;
    margin-block-start: 30px;
}
article pre {
	background-color: transparent !important;
	color: var(--fg) !important;

	padding: 5px 15px;
}
